.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .size-options {
    display: flex;
    gap: 10px;
  }
  
  .size-button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .size-button.selected {
    border: 2px solid black;
  }
  
  .color-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .color-button {
    width: 25px !important;
    height: 25px !important;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  .color-button.selected {
    border: 2px solid black;
  }
  