body, html {
  height: 100%;
}

body {
  overflow-y: auto; 
  overflow-x: hidden;
}

.home-container {
  height: 100%; 
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.topnav {
  position: sticky;
  top: 0;
  overflow: hidden;
  display: flex;
  margin-left: 50px;
  z-index: 2;
  background-color: transparent;
}

nav a {
  float: left;
  color: white;
  font-family: 'Segoe UI';
  text-align: center;
  padding: 20px;
  padding-left: 25px;
  padding-top: 30px;
  text-decoration: white;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
  max-width: 100px;
}

.nav-title {
  font-size: 35px;
  font-weight: bold;
  color: white;
  position:sticky;
  top: 0;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  padding-left: 200px;
  font-family: 'Times New Roman';
}

.search-container {
  display: flex;
  background: white;
  border-radius: 50px;
  padding-left: 10px;
  margin-left: 400px;
  margin-top: 20px;
  overflow: hidden;
  width: 200px;
  height: 50px;
}

.search-container input {
  border: none;
  outline: none;
  padding: 5px;
  width: 200px;
  font-size: 15px;
}

.search-icon {
  cursor: pointer;
  color: gray;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  position: relative;
  z-index: 2; 
}

.text1 {
  color: white;
  font-family: 'Segoe UI';
  text-align: center;
  margin-top: 5px;  
  margin-bottom: 5px; 
  line-height: 1.2;
}

.text2 {
  color: white;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin-top: 5px;  
  margin-bottom: 5px; 
  line-height: 1.2;
}

.page-button{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2; 
  height: 2vh;
  margin-top: 0px;
}

.button-text:hover{
  background-color: #ddd;
  color: black;
}

.button-text {
  color: white;
  font-family: 'Segoe UI';
  background: transparent;
  text-align: center;
  padding: 15px;
  border-style: solid;
  border-width: thin;
  border-color: white;
  width: 200px;
}

.parallax {
  
  /* Set a specific height */
   min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container2 {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

.text3 {
  color: black;
  text-align: center;
  font-size: 55px;
  margin-top: 0px;
  font-weight: bold;
}

